DYNAMO_TABLE_NAME="np-notify-tokens"
SNS_ARN="arn:aws:sns:eu-north-1:000000000000:personal-notifyer"
# AWS_ENDPOINT_URL="http://localhost:4566"
# SNS_ARN="arn:aws:sns:eu-north-1:000000000000:personal-notifyer"
#LOCAL=1
